@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* custom css */

#dark-theme {
  --primary: #1f2937;
  --comp-primary: #f3f4f6;
  --white: white;
  --gray-200: #374151;
  --black: black;
}
footer {
  background-color: var(--primary);
  color: var(--white);
  box-shadow: 1px -5px var(--blur) rgba(0, 0, 0, 0.3);
}
* {
  transition: all 0.3s ease;
}
.divider {
  filter: blur(1px);
}
input{
  color: var(--black);
}
.nav-modal {
  background-color: var(--primary);
}

.social-wrapper {
  background-color: white;
  border: 1px solid var(--comp-primary);
}

.float-label-input {
    margin: 32px 0;     
 }

 .float-label-input:focus-within label, .float-label-input input:not(:placeholder-shown) + label {
    transform: translateY(-1.5rem) scale(0.9);
    background-color: white;
}

.para{
  @apply   text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-normal rounded-lg text-sm px-4 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800
}

/* SANSKRITI */

.head_dropdown:hover .head_dropdown-menu {
display: block;
}

.shadow-solid-primary {
box-shadow: 5px 5px 12px black
}

.shadow-resources-primary {
box-shadow: 0px 1px 12px #575757;
}
input[type="range"] {
accent-color: #151515;
}
@media (max-width:575px){
  .float-label-input {
    margin: 0px 0;     
 }
}

